{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Food Stock</h3>

    <ul class="collapsible">
        {% for catergory in catergories %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == catergory.created_by|lower %}
                    <a href="{{ url_for('delete_food', food_name=catergory._id) }}" 
                        class="btn-small light-green accent-4">Delete</a>
                    <a href="{{ url_for('edit_food', food_name=catergory._id) }}" 
                        class="btn-small light-blue accent-4">Edit</a> 
                    <!-- 
                        <button type="button" class="btn btn-danger" data-toggle="modal" 
                            data-target="#exampleModalCenter{{ food_name }}">
                        Delete
                        </button>
                        <div class="modal fade" id="exampleModalCenter{{ food_name}}">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle{{ food_name }}">Delete Food Permanently</h5>
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            <div class="modal-body">
                                <h3>{{ food_name }}</h3>
                                <p>Are you sure?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <form action="{{ url_for('delete_food', food_name=catergory._id) }}">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                </form>
                            </div>
                        </div>
                    </div> -->
                    {% endif %}
                </div>
                <div class="col s9">
                    <h4>Food Item: {{ catergory.food_name }}</h4>
                </div>
            </div>
            <div class="collapsible-body">
                <p>Use by Date: {{ catergory.use_by_date }}</p>
                {% if catergory.is_urgent == "on" %}
                    <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped"
                        data-position="right" data-tooltip="USE ME"></a></i>
                {% endif %}
                <p><strong>Food Group: {{ catergory.food_group }}</strong></p>
                <p>Barcode or ID No.: {{ catergory.barcode }}</p>
                <p><em>by: {{ catergory.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
      </ul>

{% endblock %}
