{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Food Stock</h3>

    <ul class="collapsible">
        {% for catergory in catergories %}
        <li>
          <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <i class="fas fa-caret-down"></i>
                <h4>Food Item: {{ catergory.food_name }}</h4><br>
                <br>
            </div>
            <div class="collapsible-body">
                <p>Use by Date: {{ catergory.use_by_date }}</p>
                {% if catergory.is_urgent == "on" %}
                    <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped"
                        data-position="right" data-tooltip="USE ME"></a></i>
                {% endif %}
                <p><strong>Food Group: {{ catergory.food_group }}</strong></p>
                <p>Barcode or ID No.: {{ catergory.food_id }}</p>
                <p><em>by: {{ catergory.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
      </ul>

{% endblock %}
